@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Merienda';
    background-image: url(/Images/Fondo.png);
    background-size: cover;
    background-attachment: fixed;
}
header{
    max-width: 1500px;
    margin: auto;
    padding: 30px;  
    display: flex;
    justify-content: space-between;
}
nav ul{
    display: flex;
    list-style: none;
}
nav ul li{
    margin: 0 20px;
}
nav ul li a{
    text-decoration: none;
    text-shadow: 1px 0px 1px #f1f1f1;
    color: #f1f1f1;

}
nav ul li a:hover{
    text-decoration: underline;
}
section{
    padding: 10px;
    margin: 50px auto;
    background: #ebe6e6;
    border: solid 2px #3a2c2c;
    border-radius: 15px;
    max-width: 800px;
}
section h2{
    text-align: center;
    text-shadow: 1px 0px 1px #3a2c2c;
}
.evento{
    background: #f1f1f1;
    margin: 10px ;
    padding: 10 15px;
    border: solid 2px #3a2c2c;
    border-radius: 10px;
    transition: transform 0.3 ease;
}
.evento h3{
    margin: 10px;
    color: #3a2c2c;
    text-shadow: 1px 0px 1px #3a2c2c;
}
.evento p{
    margin: 10px;
}
.evento:hover{
    transform: scale(1.02);
}
footer{
    
    padding: 10px;
    background-color: #3a2c2c;
    text-align: center;
    color: #f1f1f1;
    text-shadow: 1px 0px 2px #f1f1f1;
    text-decoration: none;
}